.main-container {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 20px;
}
.sidebar-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.chat-container {
  flex: 0.7;
}
.sb-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.sb-header:hover {
  cursor: pointer;
}
.sd-right-header {
  display: flex;
  gap: 10px;
}
.sb-search {
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}
.search-box {
  border: none;
  outline-width: 0;
  font-size: 1.15rem;
  margin-left: 10px;
}
.sb-chats {
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 5px;
  flex: 1;
}
.conversation-container {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}
.conversation-container:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.conversation-container:active {
  background-color: white;
}
.con-icon {
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  background-color: burlywood;

  font-size: 2rem;
  font-weight: bolder;
  color: white;
  height: 32px;
  width: 32px;
  padding: 2px;
}

.con-title {
  grid-area: 1/2/2/4;
  font-weight: bold;
  color: rgba(39, 13, 13, 0.87);
}
.con-timeStamp {
  justify-self: flex-end;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}
.chatAreaContainer {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.chatArea-Header {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}
.messages-container {
  background-color: white;
  flex: 1;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
}
.text-input-area {
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.messages-container {
  flex: 1;
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.other-message-container {
  display: flex;
}
.other-text-content {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  border-radius: 20px;
  padding: 10px;
}
.other-timeStamp {
  justify-self: flex-end;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}

.self-message-container {
  display: flex;
  justify-content: flex-end;
}
.messageBox {
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 180, 82);
  border-radius: 20px;
  padding: 10px;
}
.self-timeStamp {
  justify-self: flex-end;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}
.welcome-logo {
  height: 20vw;
}
.welcome-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgpa(0, 0, 0, 0.54);
  border-radius: 20px;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  margin: auto;
  width: 50%;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: full;
  gap: 15px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.signin {
}
